/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
The imported CSS rules must precede all other types of rules.
*/
@import "~nativescript-theme-core/css/core.light.css";

/*
The following CSS rule changes the font size of all UI
components that have the btn class name.
*/

Page {
  background-color: #d8dbe2;
}

.btn {
  font-size: 18;
}

button {
  background-color: #c63c41;
  color: #ffffff;
  border-radius: 15;
  margin: 10;
}

.title {
  background-color: #c63c41;
  color: #ffffff;
  font-size: 24;
  font-weight: bold;
  text-align: center;
  padding: 20;
  margin-bottom: 12;
}

.content {
  padding: 12;
}

.profileItem {
  text-align: center;
  color: #ffffff;
  padding: 20;
  font-size: 15;
}

.profileStack {
  height: 60;
  border-radius: 15 0 0 15;
  text-align: center;
  background-color: #376693;
  color: #ffffff;
  font-size: 20;
}

.profileStackValue {
  height: 60;
  border-radius: 0 15 15 0;
  text-align: center;
  background-color: #376693;
  color: #ffffff;
  font-size: 20;
}

#submit {
}

StackLayout label {
}

StackLayout > label {
}

TextField[hint] {
}
